* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#container {
  border: red;
  border-style: solid;
  /* background-color: grey; */
}

/* MAIN CSS SECTION */

.main {
  border: red;
  border-style: solid;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, 100% 70%) 30%; */
  /* justify-content: center; */
}

.main-panoramica {
  background-color: #fff8f0;
  border: greenyellow;
  border-style: solid;
  /* width: 100%; */
}

#main-presentacion {
  background-color: #fff8f0;
  border: greenyellow;
  border-style: solid;
}

#fotoselfi {
  border: greenyellow;
  border-style: solid;
  background-color: #fff8f0;
}

.grow-formacion {
  /* border: greenyellow;
  border-style: solid; */
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.grow-experiencia {
  /* border: greenyellow;
  border-style: solid; */
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.grow-proyectos {
  /* border: greenyellow;
  border-style: solid; */
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1em;
  padding-bottom: 1em;

}

.card:hover {

  box-shadow: 1em;
  transform: scale(1.02);
}

.card {
  width: 18rem;
  transition: transform .5s;
}

.cardImage {
  width: 100%;
  height: 180;
}

/* GENERAL SECTION */

/* .general {
  border: red;
  border-style: solid;
} */

.gen-formacion {
  background-color: #FFEDDB;
  /* border: greenyellow;
  border-style: solid; */
}

.gen-experiencia {
  background-color: #EDCDBB;
  /* border: greenyellow;
  border-style: solid; */
}

.gen-proyectos {
  background-color: #E3B7A0;
  /* border: greenyellow;
  border-style: solid; */
}